{
  "key_id": "R8772PKJXC",
  "issuer_id": "69a6de97-0c76-47e3-e053-5b8c7c11a4d1",
  "key_content": "-----BEGIN PRIVATE KEY-----\nMIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgO3UhqtW6eurylkeA\ntlWbYpjwW9yAQUZAv6NHGfzhz6GgCgYIKoZIzj0DAQehRANCAATaseRbXgxrKr9r\nK7NC6tYkXIfYw5zPnMAD0U084AYgzPvbBUFMAyRJNwSp8hCwNYuzskLMp2pdgvXn\n5HIY+jlO\n-----END PRIVATE KEY-----"
}